.container
  %h2 All Boards
  -# new board
  .card.new-card
    .card-body.new-card-body
      .card-title.new-card-title
        = link_to '+ Add new board', new_board_path, class: 'new-board'



  -# @boardsはBoard.all
  - @boards.each do |board|
    -# = link_to board_path(id: board.id), class: 'card-link' do
    .card
      .card-body
        .flex-box
          .card-title.flex-item
            = board.title
          - if current_user&.id == board.user_id
            .dropdown.flex-item
              = image_tag "combine_shape.svg", class:"dropbtn"
              .dropdown-content.mini
                .drop-item
                  -# eac文の中にいるので、board.idでidを渡してみた
                  = link_to "edit", edit_board_path(board.id)
                .drop-item
                  = link_to "delete", board_path(board), data: {method: "delete", confirm: "本当に削除してもよろしいですか"}
        .card-text
          %p= board.content
        = image_tag board.user.avatar_image
