.container
  %h2 All Boards
  -# new board
  .card.new-card
    .card-body.new-card-body
      .card-title.new-card-title
        = link_to '+ Add new board', new_board_path, class: 'new-board'



  -# @boardsはBoard.all
  - @boards.each do |board|
    = link_to board_path(id: board.id), class: 'card-link' do
      .card
        .card-body
          -# .flex-box
          .card-title.flex-item
            = board.title
            -# .dropdown.flex-item
            -#   = image_tag "combine_shape.svg", class:"dropbtn"
              -# .dropdown-content.mini
              -#   .drop-item
              -#     = link_to "編集する", root_path
              -#   .drop-item
              -#     = link_to "削除する", root_path
          .card-text
            %p= board.content
          -# = image_tag current_user.avatar_image
          = image_tag 'profile01.png'